doctype html
html
	head
		//meta charset
		//meta viewport
		link(rel='stylesheet',href='static/css/bootstrap.min.css')
		link(rel='icon', type='image/png', href='static/photos/abb-logo-square.png')
		title Legacy | ABB Industrial
	body
		.container
			.row.mt-2
				.col-sm-5
					img.img-fluid(src='static/photos/abb.png')
				.col-sm.text-right Louisville Service Center<br>240 Production Court<br>Louisville, KY 40299<br>P: (502)-493-8000<br>F: (502)-493-0640
			.row.mt-3.mb-3
				.col-sm-12.text-center
					a.mx-2.btn(href='/') Search Legacy
					a.mx-2.btn(href='/parts') Parts Search			
					//a.mx-2.btn(href='/addCard') Add to Legacy
			.row
				div.col-sm.text-center.border.bg-secondary
					div.text-left.text-white.px-1 
						banner= `${banner}`
			.row
				.col-sm
				.col-sm-6.mt-3.text-center.h4.text-success.bg-light 
					message=`${message}`
				.col-sm
			.row.mt-3
				.col-sm
				.col-sm-6
					block content 
				.col-sm
			.row.mt-3
				.col-sm
				.col-sm-10.pb-4
				.col-sm