doctype html
html
	head
		//meta charset
		//meta viewport
		link(rel='stylesheet',href='static/css/bootstrap.min.css')
		link(rel='icon', type='image/png', href='static/photos/abb-logo-square.png')
		title ABB Louisville - MOSE
	body
		.container
			.row.mt-2
				.col-sm-5.h5
					img.img-fluid.mr-3(src='static/photos/abb.png')
					|Louisville
				.col-sm.text-right Louisville Service Center<br>240 Production Court<br>Louisville, KY 40299<br>P: (502)-493-8000<br>F: (502)-493-0640
			.row.mt-3.mb-3
				.col-sm-12.text-center
					a.mx-2.btn(href='/') Legacy Search
					a.mx-2.btn(href='/parts') Parts Search			
					a.mx-2.btn(href='http://catalog.industrialsolutions.abb.com/ecatalog/') Board Repair (E-Catalog)
			.row
				div.col-sm.text-center.border.bg-secondary
					div.text-left.text-white.px-1 
						banner= `${banner}`
			.row
				.col-sm
				.col-sm-6.mt-3.text-center.h4.text-success.bg-light 
					message=`${message}`
				.col-sm
			.row.mt-3
				.col-sm
				.col-sm-6
					block content 
				.col-sm
			.row.mt-3
				.col-sm
				.col-sm-10.pb-4
				.col-sm