extends base

block content
    form(action='/', method='POST') 
        div.form-group.p-2.text-center
            label(for='searchword') Delete Record From Legacy Database
            //small <br> Don't konw your exact part or revision number? <br> You can enter a partial number. EX: DS200LRPA
            input.form-control.my-3(type='text',name='serial',placeholder='Serial Number')
            button.btn.btn-danger.m-2(type='submit') Search