extends base

block content
    div.text-center.mb-4.h5 Search results for "#{search.searchWord}"
    ol.list-unstyled
        li.my-3
            form(action='/editPart', method='POST') 
                div.form-group.p-2.text-center
                    label(for='searchword') Edit Information
                    input.form-control.my-3(type='text',name='stockedAS',placeholder='#{item.stockedAS}')
                    input.form-control.my-3(type='text',name='description1',placeholder='Description of Part')
                    input.form-control.my-3(type='text',name='description2',placeholder='Additional Description')
                    input.form-control.my-3(type='text',name='sapNumber',placeholder='SAP Number')
                    input.form-control.my-3(type='text',name='manufacturer',placeholder='Manufacturer')
                    input.form-control.my-3(type='text',name='location1',placeholder='Location 1')
                    input.form-control.my-3(type='text',name='location2',placeholder='Location 2')
                    input.form-control.my-3(type='text',name='location3',placeholder='Location 3')
                    input.form-control.my-3(type='text',name='drawer',placeholder='Drawer')
                    input.form-control.my-3(type='text',name='cross1',placeholder='Cross 1')
                    input.form-control.my-3(type='text',name='cross2',placeholder='Cross 2')
                    input.form-control.my-3(type='text',name='cross3',placeholder='Cross 3')
                    input.form-control.my-3(type='text',name='price',placeholder='List Price')
                    button.btn.btn-danger.m-2(type='submit') Submit Changes