extends base

block content
    div.text-center.mb-4.h5 Admin for Parts DB
    form(action='/updatePart', method='POST')
        div.form-group.p-2.text-center
            label(for='searchword')
            small <br> Please enter the exact part number.  or
            a.small.ml-1(href="/partAdminLV") Search by "LV" Number
            input.form-control.my-3(type='text',name='searchWord',placeholder='Enter Stocked As part # ')
            button.btn.btn-danger.m-2(type='submit') Search for Part to Edit
        div.form-group.p-2.text-center
            a.btn.btn-success.m-2(href='/addPart') Add Part to DB </br>
            a.btn.btn-warning.m-2(href='/restock') View Restock Requests
            a.btn.btn-warning.m-2(href='/requestedquotes') View Quote Requests
    