extends base

block content
    div
        h2 Restock Requests
        h5 Total:
            a(href="#") #{count2}
    div.mt-5
        h2 Quote Request
        h5 Total: 
            a(href="/requestedquotes") #{count}