extends base

block content
    div.text-center.mb-4.h5 Requested New Part
    ol.list-unstyled
        li.my-3
            form(action='/requestNewPart', method='POST')
                div.form-group.p-2.text-center
                    label(for='searchword') New Part Info
                    input.form-control.my-3(type='text',name='stockedAS',placeholder='Part Number')
                    input.form-control.my-3(type='text',name='description1',placeholder='Description of Part') 
                div.form-group.p-2.text-center
                    label(for='searchword') Contact Info
                    input.form-control.my-3(type='text',name='name',placeholder='Name')
                    input.form-control.my-3(type='text',name='company',placeholder='Company Name')
                    input.form-control.my-3(type='text',name='email',placeholder='Email Address')
                    input.form-control.my-3(type='text',name='phone',placeholder='Phone Number')
                    textarea.form-control.my-3(name='message', rows=5, placeholder='Enter Message')
                    button.btn.btn-danger.m-2(type='submit') Submit Request            