<!DOCTYPE html>
<html lang='en'>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <div class="container">
            <div class="row mt-2">
                <div class="col-sm-5 h5">
                    <img class="img img-fluid mr-3" src="static/photos/abb.png">
                    Louisville
                </div>
                <div class="col-sm text-right">
                    Louisville Service Center <br>
                    240 Production Court <br>
                    Louisville, KY 40299 <br>
                    P: (502)-493-8000<br>
                    F: (502)-493-0640<br>
                    <a href="mailto: US-CustomerService.Louisville@abb.com?subject=Question from Website">Email Us</a>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-sm-12 text-center">
                    <a class="mx-2 btn" href="/">Legacy Search</a>
                    <a class="mx-2 btn" href="/parts">New Parts Search</a>
                    <a class="mx-2 btn" href="http://catalog.industrialsolutions.abb.com/ecatalog/">Board Repair (E-Catalog)</a>
                </div>

            </div>
            <div class="row">
                <div class="col-sm text-center border bg-secondary">
                    <div class="text-left text-white px-1">
                        EJS BANNER
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm-6 mt-3 text-center h4 text-success bg-light">
                    EJS MESSAGE
                </div>
                <div class="col-sm">

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">

                </div>
                <div class="col-sm-6">
                    EJS BLOCK CONTENT
                </div>
                <div class="col-sm">

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm">

                </div>
                <div class="col-sm-10 pb-4">

                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>
    </body>
</html>
